<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_string %><br />
    <%= f.text_field :from_string %>
  </div>
  <div class="field">
    <%= f.label :to_string %><br />
    <%= f.text_field :to_string %>
  </div>
  <div class="field">
    <%= f.label :from_longitude %><br />
    <%= f.text_field :from_longitude %>
  </div>
  <div class="field">
    <%= f.label :from_latitude %><br />
    <%= f.text_field :from_latitude %>
  </div>
  <div class="field">
    <%= f.label :to_longitude %><br />
    <%= f.text_field :to_longitude %>
  </div>
  <div class="field">
    <%= f.label :to_latitude %><br />
    <%= f.text_field :to_latitude %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :flag %><br />
    <%= f.number_field :flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
