

<p id="notice"><%= notice %></p>
<div id="top_wrapper">

  <div id="back" style="float: right;">   <%= link_to "Back to search results", userhome_url, :id => "back_link" %></div>
  <div>
    <h1> Person offering to share this ride</h1>
  </div>


</div>

<div id="profile_menu" class = " ui-corner-all">


<p>
  <b>Name:</b>
  <%= @user_profile.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user_profile.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @user_profile.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @user_profile.age %>
</p>

<p>
  <b>Picture url:</b>
  <%= @user_profile.picture_url %>
</p>

<p>
  <b>Description:</b>
  <%= @user_profile.description %>
</p>
</div>



