<script>
$(function()
{
$("#rating1result0_<%= @user_profile.id %>").ready(function() {
	var star = <%=@user_profile.rating %>
	var trp = <%=@user_profile.id %>
	for(i=1;i<=5;i++){
			if(i<=star ){
			$('#' + trp + '_' +i).addClass('on');
		} else {
			$('#' + trp + '_' +i).removeClass('on');
		}
	}
	});
})
</script>


<p id="notice"><%= notice %></p>
<div id="top_wrapper">

  <div id="back" style="float: right;">   <%= link_to "Back to search results", userhome_url, :id => "back_link" %></div>
  <div>
    <h1> Person offering to share this ride</h1>
  </div>


</div>

<div id="profile_menu" class = " ui-corner-all">


<p>
  <b>Name:</b>
  <%= @user_profile.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user_profile.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @user_profile.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @user_profile.age %>
</p>

<p>
  <b>Picture url:</b>
  <%= @user_profile.picture_url %>
</p>

<p>
  <b>Description:</b>
  <%= @user_profile.description %>
</p>
<p>
<div style="float:left"> <b> Rating: </b></div>
<div class="rating" style="float:left" id="rating1result0_<%= @user_profile.id %>">
<% (1..5) .each do |i| %>
<li class= "rating_star" data-stars= "<%= i %>" data-@user_profile-id= "<%= @user_profile.id %>" id="<%= "#{@user_profile.id}_#{i}" %>"</li>
<% end %>
</div>
<br>
</p>
</div>



