
<script>
    $(function()
    {
        $("#<%= trip.id %>").accordion(
                {

                    collapsible: true

                });
				

        $("#delete_button_<%= trip.id %>:submit").button().click(function(){
            var send_data = "trip_id="+ '<%= trip.id %>' ;
			<% trip1 = Trip.find(trip.id) %>
			var flag = <%= trip1.availabilty %> ;
			if(flag == 0)
			{
				<% if(trip1.availabilty == 0)%>
				<% trip2 = TripsConnect.where("trip_id = ?", trip.id) %>
				
				var subj =  "Trip Cancellation Notificaton " + '<%= trip.id %>';
				var bodytext = "Hi User, " + "We regret to inform you that the trip " + '<%= trip.id %>' + " has been cancelled by the owner.   Thanks Team Carpool.";
				var useruid = '<%= trip2.first.other_id %>';
				var read = 0;
				var data_url = "subject="+ subj + "&body_text=" + bodytext + "&flag=" +read + "&userid="+ useruid ;
				<% end %>
			}
			$.ajax
                    ({
                        url:'/delete_trip',
                        data: send_data
                    }).done(function(event)
                    {
						if(flag == 0)
						{
						$.ajax
                                    ({
                                        url: '/send_message',
                                        method: 'POST',
                                        data : data_url
                                    })
						}
                        alert('You have successfully deleted the trip')
                        $("#delete_button_<%= trip.id %>:submit").attr("disabled","disabled")
                        $("#delete_button_<%= trip.id %>:submit").css("background","grey")
                    })
        });
        $("#<%= trip.id %>").accordion("activate", -1)
        $("#delete_feed").scrollTop(0);
    })
</script>

<div id = "<%= trip.id %>" class = "text trip">
  <div>From: <%= trip.from_string %> to: <%= trip.to_string %></div>
  <div>
    <div>Depart on <%= trip.date.strftime("%m/%d/%y") %> at <%= trip.time.strftime("%I:%M %p") %> <br>
      <button id="delete_button_<%= trip.id %>" class = "ui-button-text ui-widget ui-state-default ui-corner-all ui-button-text-only" > Delete </button>

      <div style="float:left"> <b> Rating: </b></div>
      <div class="rating" style="float:left" id="rating1result0_<%= trip.id %>">
        <% (1..5) .each do |i| %>
            <li class= "rating_star" data-stars= "<%= i %>" data-trip-id= "<%= trip.id %>" id="<%= "#{trip.id}_#{i}" %>"></li>
        <% end %>
      </div>
    </div>

  </div>
</div>





