<script>
$(function()
{
	$("#<%= trip.id %>").accordion(
	{
		
		collapsible: true
				
	});

    $('.rating_star').click(function() {
        var trip_id = $(this).attr('data-trip-id');
        var stars = $(this).attr('data-stars');

        for(i=1;i<=5;i++){
            if(i<=stars){
                $('#' + trip_id + '_' +i).addClass('on');
            } else {
                $('#' + trip_id + '_' +i).removeClass('on');
            }
        }


        var data_url = "trip_id="+ $(this).attr('data-trip-id') + "&ratings="+ $(this).attr('data-stars') ;
        $.ajax(
                {
                    method: "POST",
                    url: "/rating",
                    data: data_url
                });
    });

    $(document).ready(function() {
        var trip_id = <%= trip.id %>;
        var stars = <%= trip.rating %>;

        for(i=1;i<=5;i++){
            if(i<=stars){
                $('#' + trip_id + '_' +i).addClass('on');
            } else {
                $('#' + trip_id + '_' +i).removeClass('on');
            }
        }
    });

	$("#disconnect_button_<%= trip.id %>:submit").button().click(function(){
	var send_data = "trip_id="+ '<%= trip.id %>' ;
	<% trip1 = Trip.find(trip.id) %>	
				var subj =  "Trip Disconnect Notificaton " + '<%= trip.id %>';
				var bodytext = "Hi User, " + "We regret to inform you that user " + '<%= user_email %>' + " has disconncted from your trip " + '<%= trip.id %>' + " . Thanks Team Carpool.";
				var useruid = '<%= trip1.owner_id %>' ;
				var read = 0;
				var data_url = "subject="+ subj + "&body_text=" + bodytext + "&flag=" +read + "&userid="+ useruid ;
			
	$.ajax
	({
		url:'/disconnect_trip',
		data: send_data
		}).done(function(event)
		{
		$.ajax
                                    ({
                                        url: '/send_message',
                                        method: 'POST',
                                        data : data_url
                                    })
		
		 alert('You are successfully disconnected from the trip')
         $("#<%= trip.id %>").fadeOut();

		})
	}); 
	$("#<%= trip.id %>").accordion("activate", -1)
    $("#disconnect_feed").scrollTop(0);
	
})
</script>
<div id = "<%= trip.id %>" class = "text trip">
  <div>From: <%= trip.from_string %> to: <%= trip.to_string %></div>
  <div>
    <div>Depart on <%= trip.date.strftime("%m/%d/%y") %> at <%= trip.time.strftime("%I:%M %p") %> <br>

      <button id="disconnect_button_<%= trip.id %>" class = "ui-button-text ui-widget ui-state-default ui-corner-all ui-button-text-only" > Disconnect </button>
      <b> Rating the Trip: </b>
      <div class="rating" style="float:right" id="rating1result0_<%= trip.id %>">
        <% (1..5) .each do |i| %>
            <li class= "rating_star" data-stars= "<%= i %>" data-trip-id= "<%= trip.id %>" id="<%= "#{trip.id}_#{i}" %>"></li>
        <% end %>
      </div>
    </div>
  </div>
</div>