
<script>
$(function()
{
	$("#search_menu").hide();
	var menu_open = 0;
	$("#search_button").button().click(function(event) { 
	if (menu_open == 0)
	{
	 $("#search_menu").fadeIn();
	 menu_open = 1;
	}else
	{
     $("#search_menu").fadeOut();
	 menu_open = 0;
	}
	
	});
	$("#post_button").button();
	$("#profile_button").button();
    $("#pending_button").button();
	$("#search_date").datepicker();
	$("#role_div").buttonset();
	$("#search_menu :submit").button();

    $("#passengers_feed").scrollTop(0);
    $("#drivers_feed").scrollTop(0);
})
</script>
<div id="wrapper">
<h1>Welcome to Your Homepage</h1>
<p>Live Feeds for Carpooling!</p>
<div id = "menu">
<input type="checkbox" id="search_button"/><label for="search_button">Search for Rides</label>
<button id="post_button">Post Ride</button>
<button id="profile_button">Edit Profile</button>
<button id="pending_button">Pending connect Requests</button>
</div>
<div id="search_menu" class = " ui-corner-all">
<%= form_tag("/search", :method => "get", :remote=>true) do %>
  <div id = "role_div">
        I am a
        <%= radio_button_tag(:role, "passenger") %>
        <%= label_tag(:role_passenger, "Passenger") %>
        <%= radio_button_tag(:role, "driver") %>
        <%= label_tag(:role_driver, "Driver") %>
  </div>
  <div>Looking for a ride
  <%= label_tag(:search_from, "From:") %>
  <%= text_field_tag(:search_from) %>
  <%= label_tag(:search_to, "To:") %>
  <%= text_field_tag(:search_to) %>
  <%= label_tag(:search_date, "On:") %>
  <%= text_field_tag(:search_date) %>
  <%= label_tag(:search_time, "At:") %>
  <%= text_field_tag(:search_time) %>
  </div>
  <%= submit_tag("Search") %>
<% end %>
</div>
  <div id="feeds_wrapper">
    <div id = "drivers_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Looking for Passengers!</h3>
    <div id = "drivers_feed" style ="overflow:scroll;" class = "feed-inside">
      <% for item in @trips_drivers %>
          <div><%= render(item) %></div>
      <% end %>
    </div>
    </div>
    <div id = "passengers_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Looking for Drivers!</h3>
    <div id = "passengers_feed" style ="overflow:scroll;"  class = "feed-inside">
      <% for item in @trips_passengers %>
          <div><%= render(item) %></div>
      <% end %>
    </div>
      </div>
  </div>
    </div>


