<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"
        xmlns="http://www.w3.org/1999/html"></script>
<script src="/assets/jquery.geocomplete.js"></script>
<script>
    function setup_maps(){
        $("#geocomplete1").geocomplete({
            map: "#map_canvas1",
            details: "#post_from",
            markerOptions: {
                draggable: true
            },
            types: ["geocode", "establishment"]
        });
        $("#find1").click(function(){
            $("#geocomplete1").trigger("geocode");
            google.maps.event.trigger($("#geocomplete1").geocomplete("map"), 'resize');
            $("#geocomplete1").geocomplete("map").setZoom( $("#geocomplete1").geocomplete("map").getZoom() );
        });
        $("#geocomplete1").focusout(function()
                {
                    google.maps.event.trigger($("#geocomplete1").geocomplete("map"), 'resize');
                    $("#geocomplete1").geocomplete("map").setZoom( $("#geocomplete1").geocomplete("map").getZoom() );
                }
        )
        $("#geocomplete2").geocomplete({
            map: "#map_canvas2",
            details: "#post_to",
            markerOptions: {
                draggable: true
            },
            types: ["geocode", "establishment"]
        });

        $("#geocomplete2").focusout(function()
                {
                    google.maps.event.trigger($("#geocomplete2").geocomplete("map"), 'resize');
                    $("#geocomplete2").geocomplete("map").setZoom( $("#geocomplete2").geocomplete("map").getZoom() );
                }
        )
        $("#find2").click(function(){
            $("#geocomplete2").trigger("geocode");
            google.maps.event.trigger($("#geocomplete2").geocomplete("map"), 'resize');
            $("#geocomplete2").geocomplete("map").setZoom( $("#geocomplete2").geocomplete("map").getZoom() );

        });



        $("#geocomplete3").geocomplete({
            map: "#map_canvas3",
            details: "#search_from",
            markerOptions: {
                draggable: true
            },
            types: ["geocode", "establishment"]
        });
        $("#geocomplete3").focusout(function()
                {
                    google.maps.event.trigger($("#geocomplete3").geocomplete("map"), 'resize');
                    $("#geocomplete3").geocomplete("map").setZoom( $("#geocomplete3").geocomplete("map").getZoom() );
                }
        )
        $("#find3").click(function(){
            $("#geocomplete3").trigger("geocode");
            google.maps.event.trigger($("#geocomplete3").geocomplete("map"), 'resize');
            $("#geocomplete3").geocomplete("map").setZoom( $("#geocomplete3").geocomplete("map").getZoom() );

        });
        $("#geocomplete4").geocomplete({
            map: "#map_canvas4",
            details: "#search_to",
            markerOptions: {
                draggable: true
            },
            types: ["geocode", "establishment"]
        });
        $("#geocomplete4").focusout(function()
                {
                    google.maps.event.trigger($("#geocomplete4").geocomplete("map"), 'resize');
                    $("#geocomplete4").geocomplete("map").setZoom( $("#geocomplete4 ").geocomplete("map").getZoom() );
                }
        )
        $("#find4").click(function(){
            google.maps.event.trigger($("#geocomplete4").geocomplete("map"), 'resize');
            $("#geocomplete4").geocomplete("map").setZoom( $("#geocomplete4").geocomplete("map").getZoom() );
            $("#geocomplete4").trigger("geocode");

        });

    }




    $(function()
    {

        $("#search_date").datepicker();
        $("#post_date").datepicker();
        $("#role_div").buttonset();
        $("#role_div_post").buttonset();
        $("#search_menu :submit").button();
        $("#post_menu :submit").button();
        $("#find1").button();
        $("#find2").button();
        $("#find3").button();
        $("#find4").button();


        $("#delete_feed_wrapper").hide();
        $("#disconnect_feed_wrapper").hide();
        $("#delete_feed").hide();
        $("#disconnect_feed").hide();
        $("#search_wrapper").hide();
        $("#search_results_menu").hide();
        $("#search_button").button();
        $("#search_button").removeAttr('checked');
        $("#search_button").button("refresh");
        $("#post_button").button();
        $("#post_button").removeAttr('checked');
        $("#post_button").button("refresh");
        $("#rolepost_driver").button();
        $('#rolepost_driver').removeAttr("checked");
        $('#rolepost_driver').button("refresh");
        $("#rolepost_passenger").button();
        $('#rolepost_passenger').removeAttr("checked");
        $('#rolepost_passenger').button("refresh");
        $("#role_driver").button();
        $('#role_driver').removeAttr("checked");
        $('#role_driver').button("refresh");
        $("#role_passenger").button();
        $('#role_passenger').removeAttr("checked");
        $('#role_passenger').button("refresh");
        $("#search_menu").hide();
        $("#post_menu").hide();

        var fetching = true;
        var menu_open = 0;
        var post_menu_open = 0;
        var mytrips_open=0;

        setup_maps();

        $("#mytrips_button").button().click(function(event) {

            $("#search_menu").hide();
            $("#post_menu").hide();
            $("#search_button").removeAttr('checked');
            $("#search_button").button("refresh");
            $("#post_button").removeAttr('checked');
            $("#post_button").button("refresh");
            post_menu_open = 0;
            menu_open = 0;
            mytrips_open =1;
            fetching =false;
            $.ajax(
                    {
                        url: "/fetch_mytrips"
                    }
            );

            $("#passengers_feed_wrapper" ).hide();
            $("#drivers_feed_wrapper" ).hide();
            $("#passengers_feed").hide();
            $("#drivers_feed").hide();
            $("#delete_feed_wrapper").fadeIn('fast');
            $("#disconnect_feed_wrapper").fadeIn('fast');
            $("#delete_feed").fadeIn('fast');
            $("#disconnect_feed").fadeIn('fast');
            $("#delete_feed").scrollTop(0);
            $("#disconnect_feed").scrollTop(0);

        });



        $("#search_button").button().click(function(event) {
            if(mytrips_open ==1)
            {
                $("#delete_feed_wrapper").hide();
                $("#disconnect_feed_wrapper").hide();
                $("#delete_feed").hide();
                $("#disconnect_feed").hide();
                mytrips_open =0;
            }
            if (menu_open == 0)
            {
                $("#geocomplete3").val("");
                $("#geocomplete4").val("");
                $("#search_date").val("");
                $("#search_time").val("");
                $('#role_driver').removeAttr("checked");
                $('#role_driver').button("refresh");
                $('#role_passenger').removeAttr("checked");
                $('#role_passenger').button("refresh");
                setup_maps();
                //2 cases: we already displayed a search result or not (no search/post yet or we have clicked post)
                if(fetching){
                    //fetching is true - so no search results displayed
                    $("#post_menu").hide();
                    $("#post_button").removeAttr('checked');
                    $("#post_button").button("refresh");
                    post_menu_open = 0;
                    $("#search_menu").fadeIn('fast');
                    menu_open = 1;
                }
                else{
                    $.ajax(
                            {
                                url: "/reload_feed"
                            }
                    )
                    $("#search_wrapper").hide();
                    $("#search_results_menu").hide();
                    $("#search_menu").fadeIn('fast');
                    menu_open = 1;
                    $("#passengers_feed_wrapper").fadeIn('fast');
                    $("#passengers_feed").fadeIn('fast');
                    $("#drivers_feed_wrapper").fadeIn('fast');
                    $("#drivers_feed").fadeIn('fast');
                    fetching=true;
                }
            }else
            {
                $("#search_menu").hide();
                menu_open = 0;
            }
        });



        $("#post_button").button().click(function(event) {
            $("#geocomplete1").val("");
            $("#geocomplete2").val("");
            $("#post_date").val("");
            $("#post_time").val("");
            $('#rolepost_driver').removeAttr("checked");
            $('#rolepost_driver').button("refresh");
            $('#rolepost_passenger').removeAttr("checked");
            $('#rolepost_passenger').button("refresh");
            setup_maps();

            if(mytrips_open ==1)
            {
                $("#delete_feed_wrapper").hide();
                $("#disconnect_feed_wrapper").hide();
                $("#delete_feed").hide();
                $("#disconnect_feed").hide();
                mytrips_open =0;
            }
            if (post_menu_open == 0)
            {
                if(fetching){
                    $("#search_menu").hide();
                    $("#search_button").removeAttr('checked');
                    $("#search_button").button("refresh");
                    menu_open = 0;
                    $("#post_menu").fadeIn('fast');
                    post_menu_open = 1;
                }
                else{
                    $.ajax(
                            {
                                url: "/reload_feed"
                            }
                    );
                    $("#search_wrapper").hide();
                    $("#search_results_menu").hide();
                    $("#post_menu").fadeIn('fast');
                    post_menu_open = 1;
                    $("#passengers_feed_wrapper").fadeIn('fast');
                    $("#passengers_feed").fadeIn('fast');
                    $("#drivers_feed_wrapper").fadeIn('fast');
                    $("#drivers_feed").fadeIn('fast');
                    fetching=true;
                }
            }
            else
            {
                $("#post_menu").hide();
                post_menu_open = 0;
            }
        });

        setInterval(function()
        {
            if (fetching)
            {
                var data_url = "passenger_update=" +  $("#passenger_last_update").html() + "&driver_update=" +   $("#driver_last_update").html();
                $.ajax(  {
                    url: "/fetch_new",
                    data: data_url
                } );
            }
        },10000);


        $("#post_submit").button().click(function()
        {
            var rolepost="";
            var from_string = $("#geocomplete1").val();
            var to_string = $("#geocomplete2").val();
            var from_lat = $("#from_lat").val();
            var from_long = $("#from_long").val();
            var to_lat = $("#to_lat").val();
            var to_long = $("#to_long").val();
            var date = $("#post_date").val();
            var time = $("#post_time").val();
            if($('#rolepost_driver').is(':checked')) { var rolepost ="driver"; }
            if($('#rolepost_passenger').is(':checked')) { var rolepost ="passenger"; }

            if((from_string =="") || (to_string=="") || (date=="") || (time=="") || (rolepost==""))
            {
                alert("fill in all the data");
                return;
            }

            var data_url = "post_from="+ from_string + "&post_to=" + to_string + "&post_date=" +date + "&post_time="+ time  + "&rolepost=" + rolepost + "&from_long=" + from_long + "&from_lat=" + from_lat + "&to_long=" + to_long + "&to_lat=" + to_lat;
            $.ajax(
                    {
                        url: "/trippost",
                        method: "POST",
                        data : data_url
                    });
            post_menu_open=0;
            $("#post_menu").hide();
            $("#post_button").removeAttr('checked');
            $("#post_button").button("refresh");
            $("#passengers_feed").scrollTop(0);
            $("#drivers_feed").scrollTop(0);
        });

        $("#search_submit").button().click(function()
        {
            fetching = false;
            var rolepost ="";
            var from_string = $("#geocomplete3").val();
            var to_string = $("#geocomplete4").val();
            var from_lat = $("#sfrom_lat").val();
            var from_long = $("#sfrom_long").val();
            var to_lat = $("#sto_lat").val();
            var to_long = $("#sto_long").val();
            var date = $("#search_date").val();
            var time = $("#search_time").val();
            if($('#role_driver').is(':checked')) { rolepost ="driver"; }
            if($('#role_passenger').is(':checked')) { rolepost ="passenger"; }
            if((from_string =="") || (to_string=="") || (date=="") || (time=="") || (rolepost==""))
            {
                alert("fill in all the data");
                return;
            }

            var data_url = "search_from="+ from_string + "&search_to=" + to_string + "&search_date=" +date + "&role="+ rolepost +"&from_lat="+ from_lat + "&from_long=" + from_long + "&to_lat="+ to_lat + "&to_long=" + to_long;
            $.ajax(
                    {
                        url: "/search",
                        method: "GET",
                        data : data_url
                    }
            );
            menu_open=0;
            $("#sfrom_result").val(from_string);
            $("#sto_result").val(to_string);
            $("#sdate_result").val(date);
            $("#stime_result").val(time);
            $("#search_menu").hide();
            $("#search_results_menu").fadeIn('fast');

            $("#search_button").removeAttr('checked');
            $("#search_button").button("refresh");
            $("#passengers_feed").scrollTop(0);
            $("#drivers_feed").scrollTop(0);
            $("#passengers_feed_wrapper").hide();
            $("#drivers_feed_wrapper").hide();
            $("#search_wrapper").fadeIn('fast');
        });


        $("#drivers_feed").scroll(function(){
            var elem = $(this);
            if (elem[0].scrollHeight - elem.scrollTop() == elem.outerHeight()+1)
            {
                var elem2 ="#" + $("#drivers_feed :last-child").attr("id")+"update";
                var data = $(elem2).attr("id");
                alert(data)
                $.ajax(
                        {
                            url: "/get_drivers",
                            method: "GET",
                            data : "date="+data
                        }
                );
            }
        });
        $("#passengers_feed").scroll(function(){
            var elem = $(this);
            if (elem[0].scrollHeight - elem.scrollTop() == elem.outerHeight()+1)
            {
                var data = $("#" + $("#passengers_feed :last-child").attr("id")+"update").text();
                $.ajax(
                        {
                            url: "/get_passengers",
                            method: "GET",
                            data : "date="+data
                        }
                );
            }
        });



        $("#profile_button").button().click(function(event){
            window.location = '/edit_profile'
        })
        $("#message_button").button().click(function(event){
            window.location = '/messages'
        })


        $("#dashboard").button().click(function()
        {
            window.location = 'index'
        });

        $("#passengers_feed").scrollTop(0);
        $("#drivers_feed").scrollTop(0);
        $("#delete_feed").scrollTop(0);
        $("#disconnect_feed").scrollTop(0);

        $(window).load(function(){
            <% if !params[:isback].nil? %>

                var data_url = "search_from=<%= session[:s_from] %>&search_to=<%= session[:s_to] %>&search_date=<%= session[:s_date] %> &role=<%= session[:s_role] %>&from_lat=<%= session[:s_from_lat] %>&from_long=<%= session[:s_from_long] %>&to_lat=<%= session[:s_to_lat] %>&to_long=<%= session[:s_to_long] %>";
                $.ajax(
                    {
                        url: "/search",
                        method: "GET",
                        data : data_url
                    }
                );

                fetching=false;
                $("#passengers_feed").scrollTop(0);
                $("#drivers_feed").scrollTop(0);
                $("#passengers_feed_wrapper").hide();
                $("#drivers_feed_wrapper").hide();
                $("#search_wrapper").fadeIn('fast');

            <% end %>
        })
    })

</script>


<div id="wrapper">

  <div hidden="true" id="passenger_last_update"><%= @passenger_last_update %></div>
  <div hidden="true" id="driver_last_update"><%= @driver_last_update %></div>
  <h1>Carpoolers, a new way to share rides!</h1>
  <h2>Welcome to your personal dashboard!</h2>
  <div id = "menu">
    <input type="checkbox" id="search_button"/><label for="search_button">Search for Rides</label>
    <input type="checkbox" id="post_button"/><label for="post_button">Post Ride</label>
    <button id="profile_button">Edit Profile</button>
    <button id="message_button">Inbox(<%= @count %>)</button>
    <button id="mytrips_button">My Trips</button>
  </div>

  <div id="search_results_menu" class = " ui-corner-all" style = "margin-bottom: 20px;">
    <div>
      <h2>Showing Search Results For</h2>
      <br></br>
      From: <input id="sfrom_result"></input>
      To: <input id="sto_result"></input>
      Date: <input id="sdate_result"></input>
      Time: <input id="stime_result"></input>
      <br> </br>
      <button id="dashboard">Reload Dashboard</button>
    </div>
  </div>
  <div id="search_menu" class = " ui-corner-all">
    <div id = "role_div">
      Searching for a
      <%= radio_button_tag(:role, "passenger") %>
      <%= label_tag(:role_passenger, "Passenger") %>
      <%= radio_button_tag(:role, "driver") %>
      <%= label_tag(:role_driver, "Driver") %>

    </div>

    <div class= "location_select ui-corner-all">
      From
      <form id="search_from">
        <input id="geocomplete3" type="text" placeholder="Type in an address"/>
        <input id="find3" type="button" value="find" />
        <input id = "sfrom_lat" name="lat" type="text" value="" hidden="true">
        <input id = "sfrom_long" name="lng" type="text" value="" hidden="true">
      </form>
      <div class="map_wrapper">
        <div id="map_canvas3" class = "map_canvas"></div>
      </div>
    </div>
    <div class= "location_select ui-corner-all">
      To
      <form id="search_to">
        <input id="geocomplete4" type="text" placeholder="Type in an address"/>
        <input id="find4" type="button" value="find" />
        <input id = "sto_lat" name="lat" type="text" value="" hidden="true">
        <input id = "sto_long" name="lng" type="text" value="" hidden="true">
      </form>
      <div class="map_wrapper">
        <div id="map_canvas4"  class = "map_canvas"></div>
      </div>
    </div>
    <%= label_tag(:search_date, "On:") %>
    <%= text_field_tag(:search_date) %>
    <%= label_tag(:search_time, "At:") %>
    <%= text_field_tag(:search_time) %>

    <button id="search_submit">Search</button>


  </div>


  <div id="post_menu" class= "ui-corner-all">
    <div id = "role_div_post">
      I am a
      <%= radio_button_tag(:rolepost, "passenger") %>
      <%= label_tag(:rolepost_passenger, "Passenger") %>
      <%= radio_button_tag(:rolepost, "driver") %>
      <%= label_tag(:rolepost_driver, "Driver") %>
      <%= hidden_field_tag(:owner_id, user_id) %>
    </div>
    <div class= "location_select ui-corner-all">
      From
      <form id="post_from">
        <input id="geocomplete1" type="text" placeholder="Type in an address" />
        <input id="find1" type="button" value="find" />
        <input id = "from_lat" name="lat" type="text" value="" hidden="true">
        <input id = "from_long" name="lng" type="text" value="" hidden="true">
      </form>
      <div class="map_wrapper">

        <div id="map_canvas1"  class = "map_canvas"></div>
      </div>
    </div>
    <div class= "location_select ui-corner-all">
      To

      <form id="post_to">
        <input id="geocomplete2" type="text" placeholder="Type in an address" />
        <input id="find2" type="button" value="find" />
        <input id = "to_lat" name="lat" type="text" value="" hidden="true">
        <input id = "to_long" name="lng" type="text" value="" hidden="true">
      </form>
      <div class="map_wrapper">
        <div id="map_canvas2"  class = "map_canvas"></div>
      </div>
    </div>
    <%= label_tag(:post_date, "Date:") %>
    <%= text_field_tag(:post_date) %>
    <%= label_tag(:post_time, "Time:") %>
    <%= text_field_tag(:post_time) %>

    <button id="post_submit">Post</button>
  </div>

  <div id="feeds_wrapper">
    <div id="search_wrapper">
      <div id = "search_feed_wrapper" class= "feed ui-corner-all">
        <h3 style = "text-align:center">Search results:</h3>
        <div id = "search_feed" style ="overflow-y: scroll;
                overflow-x: hidden;" class = "feed-inside">
        </div>
      </div>
      <div id="trip_map" class = "feed ui-corner-all">

      </div>
    </div>

    <% cache("homepageTrips_#{@str}",:expires_in => 30.minutes) do %>
    <div id = "drivers_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Drivers</h3>
      <div id = "drivers_feed" style ="overflow-y: scroll;
              overflow-x: hidden;" class = "feed-inside">
        <% if !@trips_drivers.nil? %>
            <% for item in @trips_drivers %>
                <div><%= render(item) %></div>
            <% end %>
        <% end %>
      </div>
    </div>

    <div id = "passengers_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Passengers</h3>
      <div id = "passengers_feed" style ="overflow-y: scroll;
              overflow-x: hidden;"  class = "feed-inside">
        <% if !@trips_passengers.nil? %>
            <% for item in @trips_passengers %>
                <div><%= render(item) %></div>
            <% end %>
        <% end%>
      </div>
    </div>
   <% end %>

    <div id = "disconnect_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Trips Connected by me</h3>
      <div id = "disconnect_feed" style ="overflow-y:scroll; overflow-x: hidden;" class = "feed-inside">

      </div>
    </div>

    <div id = "delete_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Trips Posted by me</h3>
      <div id = "delete_feed" style ="overflow-y:scroll; overflow-x: hidden;" class = "feed-inside">

      </div>
    </div>

  </div>
</div>



