
<script>
$(function()
{
	$("#search_menu").hide();
	var menu_open = 0;
	$("#search_button").button().click(function(event) {
	if (menu_open == 0)
	{
        $("#post_menu").hide();
        post_menu_open = 0;
	 $("#search_menu").fadeIn();
	 menu_open = 1;
	}else
	{
     $("#search_menu").fadeOut();
	 menu_open = 0;
	}
	});
	$("#post_button").button();
    $("#post_menu").hide();
    var post_menu_open = 0;
    $("#post_button").button().click(function(event) {
        if (post_menu_open == 0)
        {
            $("#search_menu").hide();
            $("#search_button").removeAttr('checked');
            menu_open = 0;
            $("#post_menu").fadeIn();
            post_menu_open = 1;
            $.ajax(
            {
                url:"/reload_feed"
            }).done(function() {
            });
        }else
        {
            $("#post_menu").fadeOut();
            post_menu_open = 0;
        }
    });
    setInterval(function()
    {
        var data_url = "passenger_update=" +  $("#passenger_last_update").html() + "&driver_update=" +   $("#driver_last_update").html();
        $.ajax(  {
                url: "/fetch_new",
                data: data_url
        } );

    },10000);
	$("#profile_button").button().click(function(event){
        window.location = '/edit_profile'
    })
    $("#pending_button").button();
	$("#search_date").datepicker();
	$("#role_div").buttonset();
    $("#role_div_post").buttonset();
	$("#search_menu :submit").button();
    $("#post_menu :submit").button();

    $("#passengers_feed").scrollTop(0);
    $("#drivers_feed").scrollTop(0);
})
</script>
<div id="wrapper">
<div hidden="true" id="passenger_last_update"><%= @passenger_last_update %></div>
<div hidden="true" id="driver_last_update"><%= @driver_last_update %></div>
 <h1>Welcome to Your Homepage</h1>
<p>Live Feeds for Carpooling!</p>
<div id = "menu">
<input type="checkbox" id="search_button"/><label for="search_button">Search for Rides</label>
<button id="post_button">Post Ride</button>
<button id="profile_button">Edit Profile</button>
<button id="pending_button">Pending connect Requests</button>
</div>
<div id="search_menu" class = " ui-corner-all">
<%= form_tag("/search", :method => "get", :remote=>true) do %>
  <div id = "role_div">
        Searching for a
        <%= radio_button_tag(:role, "passenger") %>
        <%= label_tag(:role_passenger, "Passenger") %>
        <%= radio_button_tag(:role, "driver") %>
        <%= label_tag(:role_driver, "Driver") %>
  </div>
  <div>
  <%= label_tag(:search_from, "From:") %>
  <%= text_field_tag(:search_from) %>
  <%= label_tag(:search_to, "To:") %>
  <%= text_field_tag(:search_to) %>
  <%= label_tag(:search_date, "On:") %>
  <%= text_field_tag(:search_date) %>
  <%= label_tag(:search_time, "At:") %>
  <%= text_field_tag(:search_time) %>
  </div>
  <%= submit_tag("Search") %>
<% end %>
</div>
  <div id="post_menu" class = " ui-corner-all">
    <%= form_tag("/trippost", :method => "post", :remote=>true) do %>
        <%= label_tag(:post_from, "From:") %>
        <%= text_field_tag(:post_from) %>
        <%= label_tag(:post_to, "To:") %>
        <%= text_field_tag(:post_to) %>
        <%= label_tag(:post_date, "Date:") %>
        <%= text_field_tag(:post_date) %>
        <%= label_tag(:post_time, "Time:") %>
        <%= text_field_tag(:post_time) %>
        <div id = "role_div_post">
          <%= radio_button_tag(:rolepost, "passenger") %>
          <%= label_tag(:rolepost_passenger, "Passenger") %>
          <%= radio_button_tag(:rolepost, "driver") %>
          <%= label_tag(:rolepost_driver, "Driver") %>
        </div>
        <%= submit_tag("Post") %>
    <% end %>
  </div>
  <div id="feeds_wrapper">
    <div id = "drivers_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Drivers</h3>
    <div id = "drivers_feed" style ="overflow:scroll;" class = "feed-inside">
      <% for item in @trips_drivers %>
          <div><%= render(item) %></div>
      <% end %>
    </div>
    </div>
    <div id = "passengers_feed_wrapper" class= "feed ui-corner-all">
      <h3 style = "text-align:center">Passengers</h3>
    <div id = "passengers_feed" style ="overflow:scroll;"  class = "feed-inside">
      <% for item in @trips_passengers %>
          <div><%= render(item) %></div>
      <% end %>
    </div>
      </div>
  </div>
    </div>

