<!DOCTYPE html>
<html>
<head>
  <title>Carpool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<script>
    // Additional JS functions here
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '479024818787146', // App ID
            channelUrl : '//localhost:3000/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        function get_status(){
            console.log("in status");
            <% if !current_user%>
            //only need to redirect if there is no current_user info
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                        // the user is logged in and has authenticated app -
                        // need to get his info in server session
                        //if no current_user
                        window.location = '/auth/facebook/callback';
                }
            });
            <%end%>
        };

        get_status();
    };


    function login() {
        window.location = '/auth/facebook/callback';
    }

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<div id="LoginDiv" >
<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"
    onlogin="login()" scope="email,user_birthday"></div>


<div id="user_nav">
  <% if current_user %>
      <br>
      Signed in as <strong><%= current_user.name %></strong>!
      <br>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% end %>
</div>
</div>

<%= yield %>

</body>
</html>
